{% if site.data.company %}
<section class="block">
  <h2 id="about">About {{ site.data.company.title }}</h2>

  <dl>
    <dt>Boilerplate</dt>
    <dd>{{ site.data.company.description }}</dd>

    <dt>More information</dt>
    <dd>More information on {{ site.data.company.title }}, our logo & relevant media are available <a href="{{ '/' | absolute_url }}">here</a>.</dd>
  </dl>
</section>
{% endif %}

{% for about in presskit.abouts %}
<section class="block">
  <h2 id="about_{{title}}">About {{ about.title }}</h2>

  <dl>
    <dt>Boilerplate</dt>
    <dd>{{ about.description }}</dd>

    {% if about.link %}
    <dt>More information</dt>
    <dd>More information on {{ about.title }} is available <a href="{{ about.link }}">here</a>.</dd>
    {% endif %}
  </dl>
</section>
{% endfor %}