<section class="block">
    <h2 id="videos">Videos</h2>
    {% if presskit.trailers %}
    {% for trailer in presskit.trailers %}
    <div>
        {% if trailer.youtube %}
        <p>
            <strong>{{ trailer.name }}</strong> — <a
                href="https://www.youtube.com/embed/{{ trailer.youtube | strip }}?rel=0">YouTube</a>
            {% if trailer.download %}| <a href="{{ trailer.download }}" target="_blank">Download</a>{% endif %}
        </p>

        <div class="video-player">
            <iframe class="video-player__frame" src="https://www.youtube.com/embed/{{ trailer.youtube | strip }}?rel=0"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}

        {% if trailer.vimeo %}
        <p>
            <strong>{{ trailer.name }}</strong> — <a href="https://player.vimeo.com/video/{{ trailer.vimeo | strip }}">Vimeo</a>
            {% if trailer.download %}| <a href="{{ trailer.download }}" target="_blank">Download</a>{% endif %}
        </p>

        <div class="video-player">
            <iframe class="video-player__frame" src="https://player.vimeo.com/video/{{ trailer.vimeo | strip }}"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        {% endif %}

        {% unless trailer.youtube %}
        {% unless trailer.vimeo %}
        <p>
            <strong>{{ trailer.name }}</strong> — <a href="{{ trailer.download }}" target="_blank">Download</a>
        </p>
        {% endunless %}
        {% endunless %}
    </div>
    {% endfor %}
    {% else %}
    <p>There are currently no trailers available for {{ presskit.title }}. Check back later for more or <a
            href="#contact">contact us</a> for specific requests!</p>

    {% endif %}
</section>

<section class="block">
    <h2 id="images">Images</h2>

    {% if images %}
    <div class="gallery clearfix" id="gallery">
        {% for image in images %}
        {% unless image.favicon or image.header or image.logo %}
        <div class="gallery__item">
            <a href="{{ image.path }}">
                {%- include picture.html src=image.path alt=presskit.title -%}
            </a>
        </div>
        {% endunless %}
        {% endfor %}
    </div>

    {% for screenshot in images.screenshotsWithCategory %}
    <section>
        <h3 class="capitalize" id="gallery-{{ screenshot.title }}">{{ screenshot.title }}</h3>
        <div class="gallery clearfix">
            {% for element in screenshot.elements %}
            <div class="gallery__item">
                <a href="/assets/images/{{ element }}">
                    <img src="{{ element }}" alt="{{ element }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
    {% else %}
    <p>There are currently no images available for {{ presskit.title }}. Check back later for more or <a
            href="#contact">contact us</a> for specific requests!</p>
    {% endif %}
</section>

<section class="block">
    <h2 id="logo">Logo & Icon</h2>
    {% assign logos = images | where: "logo", true %}
    {% if logos %}
    {% for logo in logos %}
    <a href="{{ site.baseurl }}{{ logo.path }}">
        <img src="{{ site.baseurl }}{{ logo.path }}" alt="{{ presskit.title }} Logo" class="logo">
    </a>
    {% endfor %}
    {% else %}

    <p>There are currently no logos or icons available for {{ presskit.title }}. Check back later for more or <a
            href="#contact">contact us</a> for specific requests!</p>
    {% endif %}
</section>

