<picture>
    {% for p in include.pictures %}
        {%- capture type -%}
          {% if p.type %}
            {{ p.type }}
          {% else %}
            {%- include image_format file=p.url -%}
          {% endif %}
        {%- endcapture -%}

        <source srcset="{{ p.url }}" type="{{ type }}" {% if p.media %}media="{{ p.media }}"{% endif %}>
    {% endfor %}

    {%- capture src -%}
        {% if include.image_path contains "://" %}
            "{{ include.image_path }}"
        {% else %}
            "{{ include.image_path | relative_url }}"
        {% endif %}
    {%- endcapture -%}

    <img src="{{ src }}" {% if include.alt %}alt="{{ include.alt }}"{% endif %}>
</picture>
